body {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fff;
}

input, textarea, button {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Bungee', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.page-title {
  font-size: 54px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.page-subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#vue-app {
  display: flex;
  flex-wrap: wrap;
}

.textinput-wrap {
  position: relative;
  display: flex;
  width: 100%;
}

.textinput-wrap input {
  width: 100%;
}

.textinput-control {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
  color: #3a3a3a;
  text-decoration: underline;
}

.textinput-control--clear-input {
  left: auto;
  right: 0;
}

.element-wrap {
  z-index: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.2s all;
}

.element-wrap:not(.element-wrap--active) {
  background-color: #ddd !important;
}

.element-wrap:hover:not(.element-wrap--active) {
  background-color: #eee;
}

.element-wrap--active {
  background-color: #00a1ff;
  animation: pulse-background-hue 0.5s infinite alternate;
}

@keyframes pulse-background-hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(60deg);
    transform: scale(0.9);
  }
}